body{
    text-align: center;
}
h1{
    font-size: 50px;
    color: crimson;
    font-family: sans-serif;
    font-weight: 300;
}
.line{
    height: 6px;
    background-color: brown;
    width: 100px;
    margin: 6px auto;
}
#app{
    background-color: greenyellow;
}
#myCarousel{
    background-color: cadetblue;
}
#chatbot{
    background-color: lightgreen;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: crimson;
}